<nav class="fixed z-30 w-full bg-white shadow-xl">
  <div class="px-6 py-3">
    <div class="flex items-center justify-between">
      <div class="flex flex-wrap items-center justify-start h-16">
        <button class="p-2 text-gray-600 rounded cursor-pointer md:hidden ">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
        <a class="text-xs flex place-items-end cursor-pointer">
          <img src=" ./assets/advotics-logo-optimize.jpg" class="w-32" alt="logo">
          <span class="ml-3 mr-1"> powered by
          </span>
          <img src="./assets/advotics-logo-optimize.jpg" class="w-16" alt="smaller-logo">
        </a>

      </div>
      <div class="flex items-center">
        <ul class="hidden md:flex md:flex-row md:space-x-3 md:mt-0 md:text-sm">
          <li>
            <a href="#" class="block py-2 pr-4 pl-3 text-[#727272] text-right rounded md:bg-transparent md:p-0 "
              aria-current="page">
              <Span class="text-sm font-semibold">Username</Span>
              <br>
              <span class="text-xs">Company Name</span>
            </a>
          </li>
          <li>
            <a href="#" class="block py-2 pr-4 pl-3 text-[#727272] text-right rounded md:bg-transparent md:p-0 "
              aria-current="page">
              <div class="bg-[#727272] p-2 rounded-full">
                <svg class="w-6 h-6 text-white" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd">
                  </path>
                </svg>
              </div>

            </a>
          </li>
          <li>
            <a href="#" class="block py-2 pr-4 pl-3 text-[#727272] text-right rounded md:bg-transparent md:p-0 "
              aria-current="page">
              <div class="m-2 rounded-full">
                <svg class="w-6 h-6 text-[#727272]" fill="currentColor" viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd"
                    d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z"
                    clip-rule="evenodd"></path>
                </svg>
              </div>

            </a>
          </li>

        </ul>
      </div>
    </div>
  </div>
</nav>
