<section class="flex justify-between mb-8">
  <div>
    <h1 class="text-4xl text-[#707070C4]">Dashboard</h1>
  </div>
  <div>
    <div class="bg-red-900 block min-w-full">KOMPONEN DATE</div>
  </div>
</section>
<div class="space-y-6">
  <section class="bg-[#37B04C] min-w-full py-2 px-4 text-xl text-white">
    <div class="flex justify-between items-center">
      <div>
        MARKET INSIGHT
      </div>
      <div class="underline text-sm cursor-pointer">
        <img class="w-5 h-5 inline fill-white" src="./assets/help.svg" alt="">
        Click Here for Help
        <img class="w-6 h-6 inline fill-white ml-2" src="./assets/up.svg" alt="">
      </div>
    </div>

  </section>

  <section class="max-w-sm bg-white shadow-lg rounded-sm border border-gray-200">
    <div class="flex flex-col h-full">
      <div class="flex-grow p-5">
        <div class="flex justify-between items-start">
          <header>
            <div class="flex ">
              <div class="inline-flex text-gray-400 ">
                <h2 class="justify-center">Sales Turnover</h2>
              </div>
            </div>
          </header>
          <div class="relative inline-flex flex-shrink-0">
            <button class="text-gray-400 hover:text-gray-500 rounded-full focus:outline-none focus-within:ring-2"
              aria-haspopup="true">
              <span class="sr-only">Menu</span>
              <img class="w-5 h-5 text-[#727272]" src="./assets/more.svg" alt="">

            </button>

          </div>
        </div>
        <!-- Bio -->
        <div class="mt-2 flex justify-start">
          <div class="">
            <div class="font-bold text-xl text-gray-700">Rp. 3,600,000</div>
            <div class="text-sm">
              <span class="text-red-500">
                <img class="w-5 h-5 inline" src="./assets/bottom-trend.svg" alt="">
                13.8%</span>
              Last Period in products sold
            </div>
          </div>
          <div>
            <img class="w-14 ml-2" src="./assets/cart.svg" alt="">
          </div>
        </div>
      </div>
      <!-- Card footer -->

    </div>
  </section>
</div>
