<div class="flex flex-col w-full px-4 py-8 overflow-y-auto lg:border-r lg:h-screen ">
  <div class="flex flex-col justify-between mt-6">
    <aside class="flex flex-col items-center bg-white text-gray-700 h-full">

      <ul>

        <li class="hover:bg-gray-100" *ngFor="let page of pages">
          <a [routerLink]="page.url" class="h-16 px-6 flex flex justify-center items-center w-full
          focus:text-orange-500">
            <img [src]="page.iconPath" alt="">

          </a>
        </li>
      </ul>

    </aside>
  </div>
</div>